.b-home {
  &-submit {
    margin-top: 15px;

  }

  .btn{
    margin-left: 5px;
  }

  &-todo {
    margin-right: 20px;
    font-size: 2em;
    &.is-liked {
      color: red;
    }
  }

  * {
    outline: none !important;
  }
}
